* {
  max-width: 100%;
  padding: 0 .75rem .75rem .75rem;
}

a {
  text-decoration: none;
  color: rgb(66, 5, 16);
}

body {
  background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);
}

header {
  padding: 5rem 3rem;
  background-color: #FFF01F;
  max-height: 2rem;
  box-shadow: 10px 10px 1px;
  max-width: 100%;
}

#header__sub {
  text-align:right;
  text-decoration: overline;
}

#title {
  text-align: justify;
  padding: 10px;
  background-color: white;
  max-width: 400px;
  height: 250px;
  box-shadow: 10px 10px 1px;
}

#intro {
  font-size: 20px;
  text-align: justify;
  padding: 30px;
}

.images {
  max-width: 25%;
  max-height: 25%;
  margin: 0 auto;
}

.comment {
  margin: 2rem auto;
  background-color:#FFF01F;
  border: solid white 5px;
  padding: 1rem;
}

main {
  margin-top: 1.5rem;
  background-color: #EFF7FF;
  padding: 2rem 5rem;
}

#main_body {
  margin: 0rem, 5rem, 0rem, 5rem;
  border: solid black;
  padding: .6rem;
  border-width: 2px;
}

#main_body h3 {
  background-color: white;
  box-shadow: 8px 8px 1px #FFF01F;
  float: right;
  top: 0;
  right: 0;
  opacity: 0.63;
  z-index: -1;
}

nav {
  position: absolute;
  background-color: #1F9EFF;
  color: white;
  max-height: 2.5rem;
  width: fit-content;
  
}

/* How do I center this twitter feed? */
.twitter-timeline {
}

ul li{
  font-size: 20px;
  display: inline-block;
}


footer {
  background: radial-gradient(circle at 10% 20%, rgb(254, 255, 165) 0%, rgb(255, 232, 182) 90%);;
color: rgb(41, 21, 21);
max-width: 100%;
padding-top: 1rem;
}

#contact {
  background-color: #EFF7FF;
  color: black;
  padding: .7rem;
}