* {
  max-width: 100%;
  padding: 0 .75rem .75rem .75rem;
}

a {
  text-decoration: none;
  color: rgb(66, 5, 16);
}

body {
}

header {
  padding: 5rem 3rem;
  background-color: #FFF01F;
  max-height: 2rem;
  box-shadow: 10px 10px 1px;
  max-width: 100%;
}

#header__sub {
  text-align:right;
  text-decoration: overline;
}

#title {
  text-align: justify;
  padding: 10px;
  background-color: white;
  max-width: 400px;
  height: 250px;
  box-shadow: 10px 10px 1px;
}

#intro {
  font-size: 20px;
  text-align: justify;
  padding: 30px;
}

.images {
  max-width: 25%;
  max-height: 25%;
}

main {
  margin-top: 1.5rem;
  background-color: #EFF7FF;
  padding: 2rem 5rem;
}

#main_body {
  margin: 0rem, 5rem, 0rem, 5rem;
  border: solid black;
  max-width: 100%;
  padding: .6rem;
  border-width: 2px;
}

#main_body h3 {
  background-color: white;
  box-shadow: 8px 8px 1px #FFF01F;
  float: right;
  width: 120px;
  top: 0;
  right: 0;
  opacity: 0.63;
  z-index: -1;
}

nav {
  position: absolute;
  background-color: #1F9EFF;
  color: white;
  max-height: 2.5rem;
  width: fit-content;
  
}

/* How do I center this twitter feed? */
.twitter-timeline {
}

ul li{
  font-size: 20px;
  display: inline-block;
}


footer {
background-color: #1F9EFF;
color: white;
max-width: 100%;
padding-top: 1rem;
}

#contact {
  background-color: #EFF7FF;
  color: black;
  padding: .7rem;
}

/* Below this comment is the code for the call out image text */

.tooltip {
  --r: 30px; /* control the radius */
  --h: 50px; /* control the height of the tail */
  --p: 30%;  /* control the position of the tail */

  padding: var(--r);
  border-bottom: var(--h) solid #0000;
  --m:
    /* adjust the angles of the 1st conic-gradient to control the shape */
    conic-gradient(from 30deg at var(--p) 100%,#0000,#000 1deg 30deg,#0000 31deg)
     0 100%/100% calc(100% - var(--r)) no-repeat,
    conic-gradient(at calc(var(--r)/2) calc(var(--r)/2),#000 270deg,#0000 0)
     0 0/calc(100% - var(--r)/2) calc(100% - var(--r)/2) padding-box,
    radial-gradient(50% 50%,#000 98%,#0000) 
     0 0/var(--r) var(--r) space padding-box;
  -webkit-mask: var(--m);
          mask: var(--m);
  
    
  margin: 50px auto;
  max-width: 650px;
  font-size: 20px;
  background: linear-gradient(135deg,#FFF01F, rgb(255, 249, 182)) border-box;
  color: black;
}